@use '@material/theme/color-palette';

$background: #fff;

$primary: #282c34;
$on-primary: #dfe1e2;

$secondary: #fc6d26;
$on-secondary: #282c34;

$surface: #fff;
$on-surface: #4a6572;
$background: $background;
$error: #b00020;
$on-error: #fcfcfc;

@use '@material/theme/index' as theme with (
    $primary: $primary,
    $on-primary: $on-primary,

    $secondary: $secondary,
    $on-secondary: $on-secondary,

    $surface: $surface,
    $on-surface: $on-surface,
    $background: $background,
    $error: $error,
    $on-error: $on-error
);
