
$mdc-theme-primary: #282c34;
$mdc-theme-on-primary: #dfe1e2;

$mdc-theme-secondary: #fc6d26;
$mdc-theme-on-secondary: #282c34;

$mdc-theme-surface: #fff;
$mdc-theme-on-surface: #4a6572;

$mdc-theme-error: #e53935;
$mdc-theme-on-error: #fcfcfc;

$mdc-theme-background: rgba(0, 0, 0, 0);
$mdc-theme-accent: $mdc-theme-secondary;

* {
    // To be accessible in standard CSS
    --primary: #{$mdc-theme-primary};
    --on-primary: #{$mdc-theme-on-primary};

    --secondary: #{$mdc-theme-secondary};
    --on-secondary: #{$mdc-theme-on-secondary};

    --surface: #{$mdc-theme-surface};
    --on-surface: #{$mdc-theme-on-surface};
}

/* Fix the components */
button:not(:disabled):active {
    /* When clicking on a button, a white background pop */
    background-color: $mdc-theme-background;
}



.mdc-dialog__surface {
    /* Some dialog might be better than the parent
       it shouldn't
    */
    max-width: 90%!important;
}


input, button, select, textarea {
    /* Fix svelte-material-ui input
       the border-bottom is not at the right place
    */
    margin: 0!important;
}
